<div class="page-header">
  <h1>Add an item to menu</h1>
</div>

<%= form_tag(item_menus_url, method: 'post', class: 'form-horizontal', multipart: true) do %>
  <div class="form-group">
    <%= label_tag :item_name, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :item_name, nil, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :item_category, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :item_category, nil, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :item_picture, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= file_field_tag :item_picture %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :item_description, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :item_description, nil, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :item_price, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :item_price, nil, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :monday, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= check_box_tag :monday %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :tuesday, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= check_box_tag :tuesday %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :wednesday, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= check_box_tag :wednesday %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :thursday, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= check_box_tag :thursday %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :friday, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= check_box_tag :friday %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :saturday, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= check_box_tag :saturday %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :sunday, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= check_box_tag :sunday %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-offset-2 col-md-6">
      <%= submit_tag "Create Item Menu", class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
