<div class="page-header">
  <h1>Item Menu #<%= @item_menu.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Item name</dt>
  <dd><%= @item_menu.item_name %></dd>

  <dt>Item category</dt>
  <dd><%= @item_menu.item_category %></dd>

  <dt>Item picture</dt>
  <dd><%= @item_menu.item_picture %></dd>

  <dt>Item description</dt>
  <dd><%= @item_menu.item_description %></dd>

  <dt>Item price</dt>
  <dd><%= @item_menu.item_price %></dd>

  <dt>Monday</dt>
  <dd><%= @item_menu.monday? %></dd>

  <dt>Tuesday</dt>
  <dd><%= @item_menu.tuesday? %></dd>

  <dt>Wednesday</dt>
  <dd><%= @item_menu.wednesday? %></dd>

  <dt>Thursday</dt>
  <dd><%= @item_menu.thursday? %></dd>

  <dt>Friday</dt>
  <dd><%= @item_menu.friday? %></dd>

  <dt>Saturday</dt>
  <dd><%= @item_menu.saturday? %></dd>

  <dt>Sunday</dt>
  <dd><%= @item_menu.sunday? %></dd>

</dl>
